<section class="position-data">
  <h2>Web Developer</h2>
  <ul>
    <li class="meta" title="Published">08/22/2014</li>
    <li class="candidates-count">Candidates: <span class="active" title="Runners">3</span> / <span class="total" title="Total candidates">8</span></li>
  </ul>
</section>
