<%= render 'position_data', position: @position %>

<section class="candidate-list">
  <ul>
    <%= render @position.recruitments %>
  </ul>
</section>

<%= link_to 'New Candidate', new_position_recruitment_path(@position), class: 'button create' %>
