<section class="candidate recruitment">
  <img src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" alt="Nome do Candidato" class="profile-picture ib">
  <div class="info">
    <h3 class="ib">Daniel Filho</h3>
    <div class="participants">
      <img src="http://www.gravatar.com/avatar/0525b332aafb83307b32d9747a93de03?s=32" class="referrer" alt="Rafael França">
      <img src="http://www.gravatar.com/avatar/5a90a67fa1a92e6a4b605cfd8da5e375?s=32" class="recruiter" alt="Lucas Mazza">
      <img src="http://www.gravatar.com/avatar/ffc5102ee85d0d7ec57200fa3e6b1fce?s=32" alt="Rafael Rinaldi">
      <img src="http://www.gravatar.com/avatar/ada3814d14e852b414a860cbbf4c2c13?s=32" alt="George Guimarães">
      <img src="http://www.gravatar.com/avatar/dcde2c5777be84f81545480b353f1a71?s=32" alt="Hugo Baraúna">
      <img src="http://www.gravatar.com/avatar/f29327647a9cff5c69618bae420792ea?s=32" alt="Tenderlove">
      <img src="http://www.gravatar.com/avatar/c1a82c72ba94813047be93746c07a15d?s=32" alt="João Britto">
    </div>
    <div class="progress-bar"><span class="progress"></span></div>
  </div>
</section>

<section class="steps">
  <ol>
    <li><a href="#" class="approved">Skype Call</a></li>
    <li><a href="#" class="approved">HR Interview</a></li>
    <li><a href="#" class="approved">Mini App</a></li>
    <li><a href="#" class="approved">Pair Programming</a></li>
    <li><a href="#" class="approved">Skype Call</a></li>
    <li><a href="#" class="approved">HR Interview</a></li>
    <li><a href="#" class="approved">Mini App</a></li>
    <li><a href="#" class="approved">Pair Programming</a></li>
    <li><a href="#" class="approved">Skype Call</a></li>
    <li><a href="#" class="approved">HR Interview</a></li>
    <li><a href="#" class="approved">Mini App</a></li>
    <li><a href="#" class="reproved">Pair Programming</a></li>
    <li><a href="#">Mini App</a></li>
    <li><a href="#">Pair Programming</a></li>
    <li><a href="#">Skype Call</a></li>
    <li><a href="#">HR Interview</a></li>
    <li><a href="#">Mini App</a></li>
    <li><a href="#">Pair Programming</a></li>
    <li><a href="#">Skype Call</a></li>
    <li><a href="#">Skype Call</a></li>
  </ol>
</section>

<section class="action">
  <a href="#" class="button reproved">Reprove Candidate 🚫</a>
  <a href="#" class="button approved">Approve Candidate ✅</a>
</section>
<hr>
