<section class="candidate">
  <img src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" alt="Nome do Candidato" class="profile-picture ib">
  <div class="info">
    <h3 class="ib">Daniel Filho</h3>
    <div class="participants">
      <img src="http://www.gravatar.com/avatar/0525b332aafb83307b32d9747a93de03?s=32" alt="Rafael França">
      <img src="http://www.gravatar.com/avatar/5a90a67fa1a92e6a4b605cfd8da5e375?s=32" alt="Lucas Mazza">
      <img src="http://www.gravatar.com/avatar/ffc5102ee85d0d7ec57200fa3e6b1fce?s=32" alt="Rafael Rinaldi">
      <img src="http://www.gravatar.com/avatar/ada3814d14e852b414a860cbbf4c2c13?s=32" alt="George Guimarães">
      <img src="http://www.gravatar.com/avatar/dcde2c5777be84f81545480b353f1a71?s=32" alt="Hugo Baraúna">
    </div>
    <div class="progress-bar"><span class="progress"></span></div>
  </div>
</section>
<hr>

<section class="steps">
  <ol>
    <li><a href="#">Skype Call</a></li>
    <li><a href="#">Mini App</a></li>
    <li><a href="#">Pair Programming</a></li>
  </ol>
</section>
<hr>

<section class="action">
  <a href="#" class="approved">Approved</a>
  <a href="#" class="reproved">Reproved</a>
</section>
<hr>
