<section class="home-welcome" id="home-welcome">
  <h2>Recruiting proccess<br> made easy</h2>
  <a href="#home-howto" class="button">show me how</a>
</section>

<section class="home-howto" id="home-howto">
  <ul>
    <li>
      <div class="step one">
        <span class="number">1</span>
        <p>Log in using your GitHub credentials</p>
        <div class="image">
          <%= image_tag("sshot-create-org.png", size: "700x483", alt: "Creating an organization", title: "Creating an organization") %>
        </div>
      </div>

    </li>
  </ul>
</section>

<footer class="home-footer">
  made by
  <a href="//twitter.com/rafaelfranca" target="_blank">rafael frança</a>,
  <a href="//twitter.com/rondy" target="_blank">rondy</a> &
  <a href="//twitter.com/danielfilho" target="_blank">daniel filho</a>.
</footer>


<script>

</script>
