<section class="home-welcome" id="home-welcome">
  <h2>Recruiting & referral made easy</h2>
  <a href="#home-howto" class="button">show me how</a>
</section>

<section class="home-howto" id="home-howto">

</section>

<footer class="home-footer">
  made by
  <a href="//twitter.com/rafaelfranca" target="_blank">rafael frança</a>,
  <a href="//twitter.com/rondy" target="_blank">rondy</a> &
  <a href="//twitter.com/danielfilho" target="_blank">daniel filho</a>.
</footer>


<script>

</script>
