.progress-bar {
  position: relative;
  display: block;
  height: 10px;
  width: 100%;
  margin-top: 1em;
  background: #F0F0F0;
  border-radius: 5px;
  border: 1px solid #CCC;
  overflow: hidden;
  vertical-align: top;

  .progress {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 10px;
    background-color: #6cc644;
  }

}
