$step-width: 170px;
$step-height: 120px;

.position-data ul {
  padding: 0;
  margin: -10px 0 0 0;
  list-style: none;

  li {
    display: inline-block;
    font-size: .8em;
  }

  .candidates-count:before {
    margin: 0 .5em 0 .3em;
    content: "·";
    font-weight: bold;
  }
}

.position-data h2 {
  &:before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "position:";
    font-weight: normal;
    font-size: .5em;
    color: #999;
    letter-spacing: normal;
  }
}

.candidate.recruitment {
  display: block;
  width: 450px;
  height: 150px;
  margin: 0 auto 2em auto;
  transition: none;

  &:hover { background: transparent; }
}

.steps {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    counter-reset: steps-counter;
  }

  li {
    position: relative;
    display: inline-block;
    width: $step-width;
    height: $step-height;
    max-height: $step-height;
    padding: 1.8em 1em;
    margin: 0 0 1em 2.5em;
    background: #F1F1F1;
    border-radius: 10px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px 8px;
      font-family: "Abril Fatface", cursive;
      font-size: 1em;
      text-align: center;
      background: #CCC;
      color: white;
      border-radius: 5px;
      overflow: hidden;
      content: counter(steps-counter);
      counter-increment: steps-counter;
      z-index: 0;
    }

    &.next-step:before {
      background: yellow;
      color: #333;
    }

    a {
      position: relative;
      display: block;
      width: 100%;
      float: left;
      border-radius: 10px;
      vertical-align: middle;
      transition: background .3s ease;
      z-index: 1;
    }

    &.approved { background: #D1F6C0; }
    &.reproved { background: #F3CDCD; }
  }
}
