* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0 4em;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

hr {
  height: 1px;
  margin: 2em 0;
  border: 0;
  border-bottom: 1px solid #F1F1F1;
}

.ib { display: inline-block; }

a {
  color: #333;
  text-decoration: none;
}

header {
  position: relative;
  height: 100px;
  margin-bottom: 25px;
  border-bottom: 1px solid #333;

  h1 {
    float: left;
    margin: 0 0 20px 0;
    font: normal 87px/84px "Abril Fatface", cursive;

    a { color: #333; }
  }
}

h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100px;
  padding: 0;
  margin: -10px 0 0 0;
  list-style: none;
  font-size: .8em;

  .session-actions {
    margin-top: 4em;
    text-align: right;
  }

  .session-actions p {
    display: inline-block;
    margin: 0 1em;
  }
}

.user-info {
  display: inline-block;

  .user-name {
    width: 180px;
    margin: 2em 2em 0 0;
    font-size: 1em;
    text-align: right;
  }

  .profile-picture {
    position: absolute;
    right: 0;
    width: 62px;
    height: 62px;

    img {
      border-radius: 50%;
      z-index: 1;
    }
  }

  .logout {
    position: absolute;
    top: 25px;
    right: -10px;
    padding: 0 7px;
    margin: -15px 0 0 5px;
    border-radius: 50%;
    background: #F1F1F1;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    z-index: 2;

    a { color: #CC1616; }
  }
}
