<h2>Create a new organization</h2>

<%= form_for(@organization) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

  <div>
    <%= f.submit 'Create', class: "button create" %>
  </div>
<% end -%>
