<h2><%= @organization.name %></h2>

<% @organization.positions.each do |position| -%>
  <ul>
    <li><%= link_to position.title, position %></li>
  </ul>
<% end -%>
<%= link_to 'Add a new position', new_position_path, class: "button" %>

<!--
<hr>
<h2>Invite people to <%= @organization.name %></h2>
<form action="?">
  <label for="email">E-mail</label>
  <input type="text" id="email">
  <input type="submit" value="Invite" class="button">
</form>
 -->
