<section class="candidate recruitment step">
  <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96&amp;s=192" height="96" width="96">

  <div class="info">
    <h3 class="ib">Daniel Filho</h3>
    <div class="progress-bar">
      <span class="progress" style="width: 0.0%"></span>
    </div>
  </div>
</section>

<section class="step-info">
  <h4><span class="step-indicator">3</span> Mesa de Bar com George Guimarães</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda autem molestias quasi numquam dignissimos natus provident sunt excepturi. Architecto, rerum, voluptatibus! Ullam dolores autem inventore mollitia voluptate amet consequatur.</p>
</section>

<section class="comments">
  <h5>Comments about the candidate</h5>

  <div class="comments-wrapper">
    <article>
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
      </div>
      <hr>
    </article>


    <article>
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
      </div>
      <hr>
    </article>
    <article>
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
      </div>
      <hr>
    </article>
    <article>
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
      </div>
      <hr>
    </article>
    <article>
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
      </div>
      <hr>
    </article>
    <article>
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus dolorum, quo maiores consequuntur possimus, dicta porro voluptas officiis! Dolorem, minima magni corporis rem voluptatem, quos minus accusantium atque. Deserunt!</p>
      </div>
      <hr>
    </article>

    <div class="comment-form">
      <div class="meta">
        <img alt="Daniel Filho" title="Daniel Filho" class="profile-picture ib" src="http://www.gravatar.com/avatar/3f2ebf61315d43cae59e727dab091620?s=96" height="48" width="48">
        <h6 class="name">Daniel Filho</h6>
        <p class="timestamp">22/10/2014 11:42pm</p>
      </div>

      <div class="elements">
        <form action="?">
          <label for="commentBox">Write your comment</label>
          <div id="commentBox" class="textarea" contenteditable></div>

          <div class="actions">
            <button class="button">Post</button>
              <div class="separator">
                <button class="button approve">Approve</button>
                <button class="button reprove">Reprove</button>
              </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>


<script>
  var commentElement = document.querySelector('.textarea'),
    textArea = document.querySelector('#theComment');

    if(commentElement) {
      commentElement.addEventListener('keyup', function(e) {
      textArea.value = commentElement.innerHTML;
    }, false);
  }
</script>
